<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row" id="main-footer">
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Gentlemen Drivers Club International ASBL</h5>
        <p>30, rue de l'Industrie<br>
          L-8069 STRASSEN<br>
          Luxembourg
        <br><br>

        Tel: +352-621-245.274<br>
        Mail: info@gdc.lu</p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">{{ site.data.localized.[language].the_project }}</h5>
        <p><br>
          <a href="{{ prefix }}">{{ site.data.localized.[language].disover_the_project }}</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">{{ site.data.localized.[language].the_events }}</h5>
        <p><br>
          {% for charity in site.data.charities | sort: 'date' %}
            <a href="{{ prefix }}/events/{{ charity.date }}.html">{{ charity.name }}</a><br>
          {% endfor %}
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">{{ site.data.localized.[language].who_are_we }}</h5>
        <p><br>
          <a href="us.html">{{ site.data.localized.[language].discover_maw }}</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <a href="/" id="logo" style="padding-top: 10px; padding-bottom: 0;"><img src="/images/logos/cars-and-coffee.png" style="height: 100px;" alt=""></a>
      </aside>
    </div>
    
    <!-- sponsor block -->
    		  	<div class="row" id="main-footer-sponsor">
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  					<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>
		  				</aside>
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  					<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>				
		  				</aside>						
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  					<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>
		  				</aside>
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  						<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>						
		  				</aside>
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  					<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>
		  				</aside>
		  				<aside class="col-lg-2 col-md-3 col-sm-4 widget">
		  					<a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>
		  				</aside>
		  			</div>
		  		
				    <br/>
			 <!-- sponsor block -->	
				
				
    <div class="row" id="absolute-footer">
      <div class="col-sm-12">
        <aside class="widget">
        <span class="pull-right hidden-xs">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://www.facebook.com/pages/Gentlemen-Drivers-Club-Luxembourg-ASBL/1502817703272351?sk=info" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
        </span>
        </p>
        </aside>
      </div>
    </div>
  </div>
</footer>
