<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row" id="main-footer">
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Gentlemen Drivers Club ASBL</h5>
        <p>Lorem ipsum dolor sit amet,
        Luxembourg L-2569<br><br>

        Tel +352 621 245 274<br>
        Mail info@gdc.lu</p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Le projet</h5>
        <p><br>
          <a href="index.html">Découvrez le projet</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Les &eacute;v&egrave;nements</h5>
        <p><br>
          <a href="310515-lukannerduerf.html">L&euml;tzebuerger Kannerduerf</a><br>
          <a href="050715-pimpampel.html">Les Pimpampel</a><br>
          <a href="020815-ilesauxclowns.html">Iles aux Clowns</a><br>
          <a href="230815-makeawishlu.html">Make-A-Wish Luxembourg</a><br>
          <a href="270915-alupse.html">Alupse</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Qui sommes-nous</h5>
        <p><br>
          <a href="us.html">Découvrez Make-a-Wish Luxembourg</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <h5 class="widget-title">Contact</h5>
        <p><br>
          <a href="contact.html">Formulaire de contact</a><br>
        </p>
      </aside>
      <aside class="col-lg-2 col-md-3 col-sm-4 widget">
        <a href="index.html"><img src="http://www.placehold.it/166x30" alt=""></a>
      </aside>
    </div>
    <div class="row" id="absolute-footer">
      <div class="col-sm-12">
        <aside class="widget">
          <p>Gentlemen Drivers Club ASBL. Designed with special care by <a href="#" target="_blank"><abbr title="#">#</abbr></a>. All Rights Reserved.
        <span class="pull-right hidden-xs">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://www.facebook.com/pages/xxxxxxxx" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
        </span>
        </p>
        </aside>
      </div>
    </div>
  </div>
</footer>
